---
---
<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <title>Luke Arcamo</title>
        <link rel="stylesheet" href="/assets/css/art_categories.css">
    </head>
    <body>
        <header>
            {% include nav.html %}
            <!-- <h1 class="glitch" data-text="Luke Arcamo">Luke Arcamo</h1>
            <h2>
                <p>Artist.</p>
                <p>Programmer.</p>
                <p>Engineer.</p>
                <p>Bookworm.</p>
            </h2> -->
        </header>
        
        <article>
            <a href="" class="landscapes">
                <h2 class="fancy-link">Landscapes</h2>
                <div class="img-container">
                    <div class="test-img"></div>
                    <div class="test-img"></div>
                    <div class="test-img"></div>
                    <div class="test-img"></div>
                    <div class="test-img"></div>
                    <div class="test-img"></div>
                    <div class="test-img"></div>
                </div>
                <p>Stories in visual form. Inspired by Vermeer, Van Gogh, The Group of Seven, Edward Hopper, and more.</p>
            </a>
            <a href="" class="portraits">
                <h2 class="fancy-link">Portraits</h2>
                <div class="img-container">
                    <div class="test-img"></div>
                    <div class="test-img"></div>
                    <div class="test-img"></div>
                    <div class="test-img"></div>
                    <div class="test-img"></div>
                </div>
                <p>Stories in visual form. Inspired by Vermeer, Van Gogh, The Group of Seven, Edward Hopper, and more.</p>
            </a>
            <a href="" class="birds">
                <h2 class="fancy-link">Birds</h2>
                <div class="img-container">
                    <div class="test-img"></div>
                    <div class="test-img"></div>
                    <div class="test-img"></div>
                    <div class="test-img"></div>
                </div>
                <p>Stories in visual form. Inspired by Vermeer, Van Gogh, The Group of Seven, Edward Hopper, and more.</p>
            </a>
        </article>

        {% include footer.html %}
    </body>
</html>