<footer>
    <h1>Contact:</h1>
    <ul class="contact-info">
        <li><a class="fancy-link from-right" href="https://www.instagram.com/bepis4094/">Instagram</a></li>
        <li><a class="fancy-link from-right" href="https://github.com/lukearcamo">Github</a></li>
        <li><a class="fancy-link from-right" href="mailto:larcamo@outlook.com">Email</a></li>
        <!-- Discord? -->
    </ul>
    <div class="copyright">© {{ "now" | date: '%Y' }} Luke Arcamo</div>
</footer>
<div class="fade"></div>
<script type="text/javascript" src="/assets/js/fancy-links.js"></script>