---
---
@import "base";
@import "articles_base";

html {
    // background-color: $off-white;
    overflow-x: hidden;
}
mjx-container {
	overflow-x: auto;
	overflow-y: hidden;
	max-width: 100%;
}

article {
    padding: 3% 0 5% 0;
    display: flex;
    flex-flow: row wrap;
}

aside {
    width: 25%;

    // position: sticky;
    // top: 0;
    // left: 0;
    // align-self: flex-start;

    padding: 0 3%;
    box-sizing: border-box;

    ul {
        font-size: 16px;
        list-style-type: none;
        li {
            a {
                margin-left: -40px;

                @extend .fancy-link;
                @extend .from-left;

                // Create better way to adjust underline thickness
                background-size: 0 6px;
                &:hover, &:active {
                    background-size: 100% 6px;
                }
            }
        }
    }
    
    @media (max-width: 800px) {
        width: 100%;
        // position: unset;
        padding: 0 5%;
    }
}

section {
    width: 75%; 

    padding-right: 20%;
    box-sizing: border-box;

    table {
        width: 100%;
        border-collapse: collapse;
        tr {
            width: 100%;
            border-top: 1px solid currentColor;
            text-align: left;
        }
        thead tr {
            border: none;
        }
        td, th {
            padding: 0.25em;
        }
    }
    blockquote {
        padding: 1em 40px;
        margin: 1em 0;

        background-color: $dark-white;
    }

    @media (max-width: 800px) {
        width: 100%;

        padding: 0 5%;

        blockquote {
            padding: 1em 20px;
            margin: 1em 0;
    
            background-color: $dark-white;
        }
    }
    // @include numbered-headings
}